@{
	ViewData["Title"] = "Inicio";
}
<h1>Landing Page (Pública)</h1>
<p>Esta página es visible para todos.</p>
<p>
	<a asp-controller="Dashboard" asp-action="Index">Ir a la página protegida</a>
</p>